/*------------------------------------------ General Content ------------------------------------------*/
html { 
  margin: 0 !important;
  padding: 0 !important;
  background-color: #000000 !important;
  scroll-behavior: smooth;
}

/* Page Body */
body { 
  margin: 0 !important;
  padding: 0 !important;
  background: radial-gradient(
    circle at 85% 90%, /* Near the bottom-right corner */
    #010101 3%,        /* Very subtle shade brighter than pure black */
    #000000 30%        /* Dominantly black for the majority */
  );
  color: #000000; /* Ensure readability */
}

#page { 
  background-color: transparent !important;
}

.container-fluid { 
  display: flex;
  flex-direction: column;
}
/* #030624 */
/* #c99e00 */

.row.flex-grow-1 { 
  flex: 1;
}

h1, h2, h3, h4 { 
  color: #dde8e8 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

p { 
  color: #92bdd6 !important;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a { 
  color: #dde8e8 !important;
}

div { 
  background-color: transparent;
}

section { 
  padding: 0px !important;
  margin: 0px !important;
  height: 100vh;
  width: 100%;
  margin-bottom: 2rem !important;
}

/* Hidden class */
.hidden { 
  display: none;
}

/* Apply scroll snapping to the parent container */
.mainContent {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

/* Content Section Container */
.pageSection { 
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Carousel Button */
.carouselButton { 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

/* Edit Content Button */
.editBtn { 
  position: absolute;
  color: white;
  background-color: lightgreen;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.editBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(144, 238, 144, 0.6);
}

/* Delete Content Button */
.deleteBtn { 
  position: absolute;
  top: 10px;
  right: 10px;
  color: #dc3545;
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
  font-size: 16px;
}

@media (max-width: 768px) { 
  /* General Mobile Styles */
}


/*-----------------------------------------------------------------------------------------------------*/

/*------------------------------------------- Navigation Bar ------------------------------------------*/
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 500;
  padding: 10px;
  background-color: transparent !important;
  opacity: 0; 
  animation: fadeIn 5s forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0; /* Initially invisible */
  }
  100% {
    opacity: 1; /* Fully visible */
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  width: 100%;
  padding-left: 30px;
}

.nav-link {
  display: block;
  width: 100%;
  font-size: 2.5rem !important;
  padding: 8px 0;
  font-weight: bold;
  color: #525252 !important; /* Slightly brighter than black */
  text-decoration: none;
  transition: transform 0.3s ease, margin-left 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
  text-align: left;
  font-weight: normal; /* Normal weight by default */
}

/* Active Link Effect */
.nav-item .active {
  transform: scale(1.1) translateX(10px); /* Slight move to the right */
  padding-left: 20px;
  color: white !important;
}

@media(max-width: 1200px){
  .nav-link{
    font-size: 1.75rem !important;
  }
}

/* Mobile View - Top Nav */
@media (max-width: 768px) {
  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0px !important;
  }

  .navbar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    display: none; /* Hide all links by default */
    font-size: 1.5rem;
    text-align: center;
    padding: 0px !important;
    margin: 0px !important;
    transition: opacity 0.3s ease;
  }

  .nav-link.visible {
    display: block; /* Show only the active link */
    opacity: 1;
  }

  .nav-link.hidden {
    display: none; /* Ensure hidden links don't occupy space */
    opacity: 0;
  }

  .nav-link:hover {
    transform: none;
  }

  /* Ensure consistent spacing for inactive links */
  .nav-item .active {
    opacity: 1; /* Only the active link is fully visible */
  }

 @media(max-width: 400px){
    .nav-link{
      font-size: 1.25rem !important;
    }
 }
}
/*-----------------------------------------------------------------------------------------------------*/


/*------------------------------------------ Welcome Content ------------------------------------------*/
#editWelcomeBtn { /* Edit Welcome Button */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem; 
  position: absolute; 
  top: 20px; 
  right: 20px; 
  padding: 10px 20px;
  background-color: rgba(20, 20, 20, 0.5); 
  color: white; 
  border: none;
  border-radius: 10%;
  cursor: pointer;
  z-index: 10;
}
#editWelcomeBtn:hover {
  background-color: rgba(40, 40, 40, 0.5);
  box-shadow: 0px 0px 8px rgba(150, 150, 150, 0.3);
}

.editWelcomeForm {
  width: 50%;
  height: auto;
  padding: 3rem;
  background-color:rgba(1, 1, 1, 0.7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  border-radius: 8px;
}

#editWelcomePrompt{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  padding: 10px 15px;
}


#editWelcomeTitle {
  padding: 10px 15px;
  width: 50%;
  background-color: transparent;
  border: 1px solid rgba(10, 10, 10, 0.9); /* Ensure the border is fully defined */
  box-shadow: 0px 0px 5px black;
  color: white;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  outline: none; /* Remove default focus outline for consistency */
}

#editWelcomeTitle:focus {
  background-color: transparent;
  border: 1px solid rgba(10, 10, 10, 0.9); /* Same as the non-focused state */
  box-shadow: 0px 0px 5px black; /* Optional, to keep consistency */
  color: white;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  outline: none; /* Ensure no focus outline is added */
}

#editWelcomeMessage {
  padding: 10px 15px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(10, 10, 10, 0.9); 
  box-shadow: 0px 0px 5px black;
  color: white;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  outline: none;
}

#editWelcomeMessage:focus {
  background-color: transparent;
  border: 1px solid rgba(10, 10, 10, 0.9);
  box-shadow: 0px 0px 5px black;
  color: white;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  outline: none; 
}

#desktopImgLabel{
  font-size: 1.2rem;
}

#desktopImgInput{
  width: 25%;
  height: 25%;
} 

#mobileImgLabel{
  font-size: 1.2rem;
}

#mobileImgInput{
  width: 25%;
  height: 25%;
}

#saveWelcomeContent{
  top: 5px;
  right: 10px;
}

#closeWelcomeForm{
    top: 10px;
    right: 20px;
}



.editWelcomeForm h2, 
.editWelcomeForm label {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.editWelcomeForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.desktopImgInput,
.mobileImgInput {
  cursor: pointer;
  background-color: #f0f0f0;
}

.editWelcomeForm .editBtn,
.editWelcomeForm .closeBtn {
  position: absolute;
  top: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#saveWelcomeContent {
  position: absolute;
  top: 10px;
  right: 60px; 
  margin: 1rem;
  width: 10%;
  background-color: transparent; 
  border: 2px solid rgba(0, 255, 0, 0.5);
  border-radius: 10%;
  color: rgba(0, 255, 0, 0.8); 
  padding: auto;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  line-height: 2rem;
} 
/* Save welcome Form button */
#saveWelcomeContent:hover {
  box-shadow: 0px 0px 8px rgba(0, 128, 0, 0.8);
  background-color: rgba(0, 128, 0, 0.4);
}

/* Close Welcome Form Button */
#closeWelcomeForm {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 1rem;
  width: 5%;
  background-color: transparent; 
  border: 2px solid rgba(255, 0, 0.5);
  border-radius: 10%;
  color: rgba(255, 0, 0, 0.8); 
  padding: auto;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  line-height: 2rem;
}
#closeWelcomeForm:hover {
  box-shadow: 0px 0px 8px rgba(128, 0, 0, 0.8);
  background-color: rgba(128, 0, 0, 0.4);
}

@media(max-width: 768px){
  #welcome{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}
/*-----------------------------------------------------------------------------------------------------*/


/*------------------------------------------ Project Content ------------------------------------------*/
/* Project Container (Flexbox layout) */
.projectContainer {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%; 
}

.projectDiv {
  min-width: 100%;
  height: 100vh;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  align-items: center; /* Aligns the elements vertically in the container */
}

.projectImg {
  width: 150px; /* Set a fixed size for the image */
  height: 150px;
  object-fit: cover; /* Ensures the image covers the space without stretching */
  margin-right: 20px; /* Space between image and text */
}

.projectDetails {
  flex-grow: 1; /* Ensures that the text section takes up available space */
  display: flex;
  flex-direction: column; /* Stack title, date, description vertically */
  justify-content: space-between;
}

.projectTitle {
  font-size: 1.5rem;
  color: #FFFFFF; /* White text for title */
  margin: 0;
}

.projectDate {
  font-size: 1rem;
  color: #AAAAAA; /* Light gray for date */
  margin-top: 5px;
}

.projectDescription {
  color: #CCCCCC; /* Light gray for description */
  margin-top: 10px;
}

.projectGithub {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.projectGithubImg {
  width: 20px; /* Adjust GitHub icon size */
  height: 20px;
  margin-right: 10px; /* Space between icon and link */
}

/* Buttons for Edit and Delete */
.editProjectBtn{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem; 
  position: absolute; 
  top: 20px; 
  right: 80px; 
  padding: 10px 20px;
  background-color: rgba(20, 20, 20, 0.5); 
  color: white; 
  border: none;
  border-radius: 10%;
  cursor: pointer;
  z-index: 10;
}

.editProjectBtn:hover{
  background-color: rgba(40, 40, 40, 0.5);
  box-shadow: 0px 0px 8px rgba(150, 150, 150, 0.3);
}

.deleteProjectBtn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem; 
  position: absolute; 
  top: 20px; 
  right: 20px; 
  padding: 10px 20px;
  background-color: rgba(250, 30, 30, 0.3); 
  color: white; 
  border: none;
  border-radius: 10%;
  cursor: pointer;
  z-index: 10;
}

.deleteProjectBtn:hover {
  background-color: rgba(250, 30, 30, 0.4);
  box-shadow: 0px 0px 8px rgba(250, 30, 30, 0.4);
}

/* Project Navigation Buttons */
#projectPrevBtn, #projectNextBtn {
  background-color: inherit;
  color: white;
  font-size: 1.2rem;
  margin: 10px;
  cursor: pointer;
  transition: font-size 0.2s ease, background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Include font-size transition */
  z-index: 1000;
}
#projectPrevBtn:hover, #projectNextBtn:hover {
  font-size: 2rem;
}

#projectPrevBtn {
  left: 10px;
}

#projectNextBtn {
  right: 10px;
}

@media (max-width: 768px){ /* Project Mobile Styles */

  .projectImg{
    display: none !important;
  }

  #projectPrevBtn{
    display: none !important;
  }

  #projectNextBtn{
    display: none !important;
  }

}
/*-----------------------------------------------------------------------------------------------------*/


/*----------------------------------------- Experience Content ----------------------------------------*/

.experienceContainer { /* Container for experiences */
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}


.experienceDiv { /* Experience Container */
  min-width: 100%;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}


#experienceNextBtn{ /* Next Experience Button */
  right: 10px;
  background-color: inherit;
  color: white;
  font-size: 1.2rem;
  padding: 12px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}
#experienceNextBtn:hover{
  background-color: white;
  color: #000000;
  box-shadow: 0 0 10px 3px white;
}


#experiencePrevBtn{ /* Previous Experience Button */
  left: 10px;
  z-index: 1000;
  background-color: inherit;
  color: white;
  font-size: 1.2rem;
  padding: 12px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}
#experiencePrevBtn:hover{
  background-color: white;
  color: #000000;
  box-shadow: 0 0 10px 3px white;
}


.editExperienceBtn{ /* Button to edit Experience Item */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem; 
  position: absolute; 
  top: 20px; 
  right: 80px; 
  padding: 10px 20px;
  background-color: rgba(20, 20, 20, 0.5); 
  color: white; 
  border: none;
  border-radius: 10%;
  cursor: pointer;
  z-index: 10;
}
.editExperienceBtn:hover{
  background-color: rgba(40, 40, 40, 0.5);
  box-shadow: 0px 0px 8px rgba(150, 150, 150, 0.3);
}


.deleteExperienceBtn { /* Button to delete Experience Item */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem; 
  position: absolute; 
  top: 20px; 
  right: 20px; 
  padding: 10px 20px;
  background-color: rgba(250, 30, 30, 0.3); 
  color: white; 
  border: none;
  border-radius: 10%;
  cursor: pointer;
  z-index: 10;
}
.deleteExperienceBtn:hover {
  background-color: rgba(250, 30, 30, 0.4);
  box-shadow: 0px 0px 8px rgba(250, 30, 30, 0.4);
}

.addExperienceDiv {
  min-width: 100%;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.addExperienceBtn {
  position: absolute;
  width: 150px; /* Fixed size */
  height: 150px; /* Square shape */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  background-color: rgba(1, 1, 1, 0.7);
  color: white;
  border: none;
  border-radius: 8px; /* Optional for rounded corners */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.addExperienceBtn:hover {
  transform: scale(1.2); /* Grows without offsetting */
}

.experiencePopup {
  position: absolute; /* Position it relative to the parent container */
  top: 50%; /* Center it vertically */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%); /* Adjust the position to truly center */
  background-color: rgba(250, 30, 30, 0.3);
  color: white;
  padding: 20px; /* Space inside the popup */
  border-radius: 8px; /* Rounded corners */
  z-index: 10; /* Ensure it's on top of the current content */
  width: 300px; /* Set a fixed width or use max-width for responsiveness */
  height: auto; /* Adjust height based on content */
}


.experienceImg{ /* Company Logo */
  max-width: 10% !important;
  max-height: 10% !important;
}


.experienceForm { /* Edit Experience Item Form */
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(1, 1, 1, 0.7);
  border: none;
  border-radius: 8px;
  margin: 10% auto;
  align-self: center;
  position: relative;
}


.experienceFormTitle { /* Experience Form Title */
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

/* Inputs for title and company on one line */
.experienceTitleInput,
.experienceCompanyInput {
  width: calc(50% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Flexbox to align title and company inputs inline */
.titleCompanyContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Start and end dates inline */
.startDateLabel,
.endDateLabel {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.startDateInput,
.endDateInput {
  width: calc(50% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.datesContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Description area */
.experienceDescriptionInput {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
}

/* Logo input area */
.logoLabel {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.logoInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.submitExperienceForm {
  position: absolute;
  top: 10px;
  right: 60px; 
  margin: 1rem;
  width: 10%;
  background-color: transparent; 
  border: 2px solid rgba(0, 255, 0, 0.5);
  border-radius: 10%;
  color: rgba(0, 255, 0, 0.8); 
  padding: auto;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  line-height: 2rem;
}
.submitExperienceForm:hover {
  box-shadow: 0px 0px 8px rgba(0, 128, 0, 0.8);
  background-color: rgba(0, 128, 0, 0.4);
}

.closeExperienceForm {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 1rem;
  width: 5%;
  background-color: transparent; 
  border: 2px solid rgba(255, 0, 0.5);
  border-radius: 10%;
  color: rgba(255, 0, 0, 0.8); 
  padding: auto;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  line-height: 2rem;
}
.closeExperienceForm:hover {
  box-shadow: 0px 0px 8px rgba(128, 0, 0, 0.8);
  background-color: rgba(128, 0, 0, 0.4);
}

.updateExpError{
  color: rgba(255, 0, 0, 0.8);
  font-size: 1rem;
  background-color: rgba(128, 0, 0, 0.4);
  box-shadow: 0px 0px 8px rgba(128, 0, 0, 0.8);
}

.addExpError {
  color: rgba(255, 0, 0, 0.8);
  font-size: 1rem;
  background-color: rgba(128, 0, 0, 0.7);
  box-shadow: 0px 0px 8px rgba(128, 0, 0, 0.8);
  padding: 5px 10px;
  border-radius: 8px;
}




@media (max-width: 768px){ /* Experience Mobile Styles */
  .experienceForm {
    display: none;
  }

}
/*-----------------------------------------------------------------------------------------------------*/

/*------------------------------------------- About Content -------------------------------------------*/
#about {
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  height: 100vh; /* Full height of the viewport */
  display: flex; /* Flexbox layout to align children side by side */
  flex-direction: row; /* Ensures items are in a row (default, but added for clarity) */
  padding: 0px !important;
}

.textDiv {
  position: relative;
  padding: 20px;
  border: none;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  background-color:rgba(1, 1, 1, 0.7);;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*
.textHeader{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.textContent{
  font-size: 1.2rem;
}
*/


/* Prompt (Edit title) */
.editAboutFormTitle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.editAboutSection {
  background-color: white;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  border-radius: 10%;
  padding: 1% 2%;
  border: none;
  position: absolute; /* Absolute positioning relative to the parent */
  right: 2%; /* Distance from the right edge of the parent */
  top: 4%; /* Distance from the top edge of the parent */
  cursor: pointer; /* Add a pointer cursor for better UX */
}

.editAboutSection:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

/* Close Button */
button.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

button.closeButton:hover {
  color: #ff0000;
}

/* Title Input */
.editTitleInput {
  display: block;
  width: 100%;
  margin: 40px 0 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Description Input */
.editDescInput {
  display: block;
  width: 100%;
  height: 100px;
  margin: 10px 0 20px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* Save and Delete Buttons */
button.submitButton,
button.deleteButton {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Save Button */
button.submitButton {
  background-color: #4caf50;
  color: white;
  margin-right: 10px;
}

button.submitButton:hover {
  background-color: #45a049;
}

/* Delete Button */
button.deleteButton {
  background-color: #f44336;
  color: white;
}

button.deleteButton:hover {
  background-color: #e53935;
}

/* Inline Save and Delete Buttons */
button.submitButton,
button.deleteButton {
  display: inline-block;
  vertical-align: middle;
}





@media (max-width: 768px){ /* About Mobile Styles */

}


/*-----------------------------------------------------------------------------------------------------*/


/*------------------------------------------ Contact Content ------------------------------------------*/
#contact{
  height: 50vh !important;
  width: 100% !important;
}

#contactContainer{
  width: 100%;
  height: 60%;
  background-color: red;
}

#footer{
  width: 100%;
  height: 40%;
  background-color: blue;
}

#githubButton{ /* GitHub Icon */
  width: 10%;
  height: 10%;
}

#linkedInButton{ /* LinkedIn Icon */ 
  width: 20% !important;
  height: 20%;
}

@media (max-width: 768px){ /* Contact Mobile Styles */

}
/*-----------------------------------------------------------------------------------------------------*/


/*----------------------------------- Languages + Frameworks Content ----------------------------------*/

#languagesFrameworks { /* Container for Languages + Frameworks */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 200px !important;
  height: auto !important;
}

.languagesContainer { /* Container for Languages */
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 10px;
  box-sizing: border-box;
}

.languageContainer { /* Individual Language Item Container */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.languageImg { /* Language Logo */
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.languageName { /* Language Name */
  flex-grow: 1;
  margin: 0;
  font-size: 1em;
}

.deleteLanguageBtn { /* Delete Button */
  background-color: transparent;
  border: none;
  color: #dc3545;
  font-size: 1.2em;
  cursor: pointer;
}

.frameworksContainer { /* Container for Frameworks */
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 10px;
  box-sizing: border-box; 
}

.frameworkContainer { /* Individual Framework Item Container */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.frameworkImg { /* Framework Logo */
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.frameworkName { /* Framework Name */
  flex-grow: 1;
  margin: 0;
  font-size: 1em;
}

.deleteFrameworkBtn {  /* Delete Framework Button */
  background-color: transparent;
  border: none;
  color: #dc3545;
  font-size: 1.2em;
  cursor: pointer;
}

@media (max-width: 768px){ /* Languages + Mobile Mobile Styles */

  .languagesContainer{
    display: none;
  }

  .frameworksContainer{
    display: none;
  }

}
/*-----------------------------------------------------------------------------------------------------*/



/*------------------------------------------ Foooter Content ------------------------------------------*/
footer { /* Footer Container */ 
  background-color: #dde8e8;
  text-align: center;
  padding: 25px;
  width: 100%;
}

#loginBtn{ /* Admin Login Button */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #0e2e43 !important;
}

@media (max-width: 768px){ /* Mobile Styles */

  footer{
    display: none;
  }

  #loginBtn {
    display: none;
  }
}
/*-----------------------------------------------------------------------------------------------------*/

/*-------------------------------------------- Login Form ---------------------------------------------*/
.popup { /* Login Container */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  z-index: 1000; /* Ensure it appears on top */
}

.popup-content { /* Login Form Container */
  position: relative;
  background: inherit; /* Temporary red background for testing */
  padding: 30px 20px;
  border-radius: 8px;
  width: 350px;
  text-align: left; /* Align content to the left */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow for depth */
}

#closeLogIn { /* Close Button */
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

#loginHeader { /* Login Title */
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

#loginForm { /* Login Form */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Add spacing between inputs */
}

#loginForm label { /* Label for Inputs */
  font-size: 1rem;
  margin-bottom: 5px;
}

#loginForm input { /* Input Fields */
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid inherit;
  border-radius: 4px;
  box-sizing: border-box;
}

#loginForm button { /* Submit Button */
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#loginForm button:hover { /* Hover Effect for Submit Button */
  background-color: #555;
}

#loginResMessage{
  color: white;
}
/*-----------------------------------------------------------------------------------------------------*/
  




