/* Ensure the container takes up the full height */
body{
    margin: 0 !important;
}

html {
    margin: 0 !important;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.row.flex-grow-1 {
    flex: 1;
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
}